/* open-sans-regular - latin-ext_latin */
@font-face {
  font-family: 'Hiragino Kaku Gotic Pro W3', 'A-OTF 新丸ゴ Pro L', 'Open Sans';
  font-style: normal;
  font-weight: normal;
}
/* open-sans-italic - latin-ext_latin */
@font-face {
  font-family: 'Hiragino Kaku Gotic Pro W3', 'A-OTF 新丸ゴ Pro L', 'Open Sans';
  font-style: italic;
  font-weight: normal;
}
/* open-sans-bold - latin-ext_latin */
@font-face {
  font-family: 'Hiragino Kaku Gotic Pro W3', 'A-OTF 新丸ゴ Pro', 'Open Sans';
  font-style: normal;
  font-weight: bold;
}
/* open-sans-700italic - latin-ext_latin */
@font-face {
  font-family: 'Hiragino Kaku Gotic Pro W3', 'A-OTF 新丸ゴ Pro L', 'Open Sans';
  font-style: italic;
  font-weight: bold;
}

body {
    font-family: 'Hiragino Kaku Gotic Pro W3', 'A-OTF 新丸ゴ Pro L', "Open Sans","Clear Sans", "Helvetica Neue", Helvetica, Arial, 'Segoe UI Emoji', sans-serif;
    /* color: rgb(51, 51, 51); */
    line-height: 1.6;
}


#write.first-line-indent p {
  text-indent: 1em !important;
}

.no-indent p {
  text-indent: 0 !important;
}

.mono p {
  font-family: Cica;
}
